extends ../layout

block content-client
	.demo-layout.mdl-layout.mdl-js-layout.mdl-layout--fixed-drawer.mdl-layout--fixed-header
		include ./includes/header
		input(type='hidden' value='#{namaKomoditas}' id='nama-komoditas')
		main.mdl-layout__content.mdl-layout__content--margin.margin-new
			.mdl-grid
				.mdl-cell.mdl-cell--8-col.mdl-cell--2-offset.mdl-card.mdl-shadow--2dp
						canvas#myChart(width='500' height='300')
			
		//- 	#overview.mdl-layout__tab-panel.is-active
		//- 		section.section--center.mdl-grid.mdl-grid--no-spacing.mdl-shadow--2dp