extends ../../layout

block content
  .demo-layout.mdl-layout.mdl-js-layout.mdl-layout--fixed-drawer.mdl-layout--fixed-header
    include ../includes/header
    include ../includes/sidebar
    
    main.mdl-layout__content.mdl-color--grey-100
      .mdl-grid.demo-content
        .mdl-cell--6-col.mdl-cell--3-offset.mdl-grid
          table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp(style='width:100%;')
            thead
              th.mdl-data-table__cell--non-numeric No.
              th.mdl-data-table__cell--non-numeric Tanggal
              th.mdl-data-table__cell--non-numeric Komoditas
              th.mdl-data-table__cell--non-numeric Harga
            each c, i in comodities
              tr
                td= i+1
                td.mdl-data-table__cell--non-numeric= c.tanggal
                td.mdl-data-table__cell--non-numeric= c.komoditas
                td= c.harga
    a.fab.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored(href='/harga/add')
      i.material-icons add
