.demo-drawer.mdl-layout__drawer.mdl-color--blue-grey-900.mdl-color-text--blue-grey-50
  header.demo-drawer-header
    img.demo-avatar(src=user.picture)
    .demo-avatar-dropdown
      p= user.name
      p(style='color:#9e9e9e')= user.email
  nav.demo-navigation.mdl-navigation.mdl-color--blue-grey-800
    a.mdl-navigation__link(href='/')
      i.mdl-color-text--blue-grey-400.material-icons(role='presentation') home
      | Home
    a.mdl-navigation__link(href='/user')
      i.mdl-color-text--blue-grey-400.material-icons(role='presentation') people
      | User
    a.mdl-navigation__link(href='/harga')
      i.mdl-color-text--blue-grey-400.material-icons(role='presentation') monetization_on
      | Harga
    a.mdl-navigation__link(href='/penduduk')
      i.mdl-color-text--blue-grey-400.material-icons(role='presentation') accessibility
      | Penduduk & PPH
    a.mdl-navigation__link(href='/indeks')
      i.mdl-color-text--blue-grey-400.material-icons(role='presentation') trending_up
      | IHK & Inflasi
    a.mdl-navigation__link(href='/produksi')
      i.mdl-color-text--blue-grey-400.material-icons(role='presentation') local_florist
      | Lahan Panen & Produksi
    a.mdl-navigation__link(href='/logout')
      i.mdl-color-text--blue-grey-400.material-icons(role='presentation') file_upload
      | Logout
