extends ../../layout

block content
  .demo-layout.mdl-layout.mdl-js-layout.mdl-layout--fixed-drawer.mdl-layout--fixed-header
    include ../includes/header
    include ../includes/sidebar
    
    if !updates
      - var data = {bulan: '', indeks: '', inflasi:''}
    else
      - var data = updates
    
    main.mdl-layout__content.mdl-color--grey-100.pos-center-center
      .mdl-card.mdl-shadow--2dp
        form(method='POST')
          .mdl-card__supporting-text
            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
              input.mdl-textfield__input(type='month' name='bulan' value='#{data.bulan}' placeholder="")
              label.mdl-textfield__label Bulan-Tahun
            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
              input.mdl-textfield__input(type='text' step='0.01' name='indeks' value='#{data.indeks}')
              label.mdl-textfield__label Indeks Harga Eceran
            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
              input.mdl-textfield__input(type='text' step='0.01' name='inflasi' value='#{data.inflasi}')
              label.mdl-textfield__label Inflasi
            input.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent(type='submit' value='Simpan' style='width:100%')
